{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}

  <br />
  <h1 align="center">Locker List</h1>
  <br />
  <h3 align="center">Please select an available locker</h3>
  <br />
  <div id="parent-div" style="width: device; height: 100px;">
    <a href="locker1">
      {% if status1==True %}
        <button style="width: 100%; height: 80%; background-color: rgb(201, 8, 8); border-color: white" type="submit" class="btn btn-primary">Locker#1</button>
      {% else %}
        <button style="width: 100%; height: 80%; background-color: rgb(2, 205, 2); border-color: white" type="submit" class="btn btn-primary">Locker#1</button>
      {% endif %}
    </a>
  </div>
  <br />
  <div id="parent-div" style="width: device; height: 100px;">
    <a href="locker2">
      {% if status2==True %}
          <button style="width: 100%; height: 80%; background-color: rgb(201, 8, 8); border-color: white" type="submit" class="btn btn-primary">Locker#2</button>
      {% else %}
          <button style="width: 100%; height: 80%; background-color: rgb(2, 205, 2); border-color: white" type="submit" class="btn btn-primary">Locker#2</button>
      {% endif %}
    </a>
  </div>
  <br />
  <div id="parent-div" style="width: device; height: 100px;">
    <a href="locker3">
      {% if status3==True %}
        <button style="width: 100%; height: 80%; background-color: rgb(201, 8, 8); border-color: white" type="submit" class="btn btn-primary">Locker#3</button>
      {% else %}
       <button style="width: 100%; height: 80%; background-color: rgb(2, 205, 2); border-color: white" type="submit" class="btn btn-primary">Locker#3</button>
      {% endif %}
    </a>
  </div>
  <br />
  <div id="parent-div" style="width: device; height: 100px;">
    <a href="locker4">
      {% if status4==True %}
        <button style="width: 100%; height: 80%; background-color: rgb(201, 8, 8); border-color: white" type="submit" class="btn btn-primary">Locker#4</button>
      {% else %}
        <button style="width: 100%; height: 80%; background-color: rgb(2, 205, 2); border-color: white" type="submit" class="btn btn-primary">Locker#4</button>
      {% endif %}
    </a>
  </div>
  {% endblock %}