{% extends "base.html" %}
<title>{% block title %}My Locker{% endblock %}</title>
{% block content %}
<br />
<h1 align="center">Locker #3</h1>

</ul>
<form method="POST">
    <!-<textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Open</button>
        <div><br></div>
        <button type="submit" class="btn btn-primary">Close</button>
        <div><br></div>
        <a href="/templock3close" class="btn btn-primary">Unregister</a>
    </div>
</form>
{% endblock %}